*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

h1 {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1140px;
}

.container-img {
  max-height: 500px;
  max-width: 500px;
  padding: 0;
  overflow: hidden;
  border-radius: 50% 20% / 10% 40%;

}

.title-img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  transition: transform 4s linear;
}

.title-img:hover,
.title-img:focus {
  transform: scale(2);

}

.title {
  text-align: center;
}

a {
  cursor: pointer;
  text-decoration: none;
}